.sidenav {
    width: 250px;
    height: 100%;
    background-color: rgb(252, 252, 253);
    color: #42526E;
    border-right: 1px solid #E4E5E7;
}

.sidenav-list {
    width: 100%;
    height: auto;
    list-style-type: none;
    padding: 0;
}

.sidenav-row {
    width: 100%;
    padding: 6px 1rem;
}

.sidenav-list p {
    padding: 0px 1rem;
    padding-top: 1.5rem;
    padding-bottom: .2rem;
    font-weight: 600;
    margin: 0;
}

.sidenav-row .row{
    border-radius: 4px;
}

.sidenav-row:hover  {
    /* background-color: #454545; */
    cursor: pointer;
}

#active {
    background-color: #F1F3F9;
}

#active .sidenav-icon{
    color: #4169E1;
}